<div class="" *ngFor="let main of messages">
 <div class="">
   <div class="col-12 chat-user-main" *ngIf="main.main" >
     <div class="user" (click)="togglePersonal()" >
       <div class="user-img">
         <div
           class="img"
           [ngStyle]="{
                'background-image':
                  'url(' + main.img + ')'
              }"
         ></div>
       </div>
       <div class="user-text">
         <div class="user-info">
           <div class="name">
             {{main.name}}
           </div>
           <div class="date">
             {{main.date}}
           </div>
         </div>
         <div class="message" >
                <span class="add">
                  {{main.message}}</span
                >
         </div>
       </div>
     </div>
   </div>
 </div>
</div>
