<div class="row pt-5 pb-5">
  <div class="col-12">
    <h1 class="font-weight-bold pb-4">Popular Resours</h1>
  </div>
  <div class="col-12 col-lg-7 ">
    <div class="lenta-news d-flex" *ngFor="let popular of popularNews">
      <div class="lenta-img">
        <img src="{{ popular.img }}" class="rounded" alt="" />
      </div>
      <div class="lenta-info pl-3">
        <div class="lenta-category small text-primary">
          {{ popular.category }}
        </div>
        <div class="lenta-title font-weight-bold pt-1">
          {{ popular.title }}
        </div>
        <div class="btn-read">
          <a routerLink="/second-page/" routerLinkActive="active">Read Report</a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-12 col-lg-5 p-5 p-lg-0 banner d-flex align-items-center flex-column justify-content-center"
  >
    <div class="banner-title text-center text-white">
      Storyteller Circle <br />
      Event Series
    </div>
    <div class="btn-read pt-3">
      <a href="#">Watch Webinar</a>
    </div>
  </div>
</div>
