<div class="wrapper-chat">
  <div class="container">
    <div class="row">
      <div class="col-12 header-chat">Чат с банком
        <a routerLink="#">
          <i class="fas fa-times-circle"></i>
        </a></div>
      <div class="col-12">
        <div class="chat-files">
          <div class="block-input">
            <input
              type="text"
              class="input-search"
              placeholder="Поис чатов и сообщений"
            />
          </div>
          <div class="block-file">
            <i class="far fa-file-alt"></i>
          </div>
        </div>
      </div>
      <div class="col-12 chat-user-main">
        <div class="user">
          <div class="user-img">
            <div
              class="img"
              [ngStyle]="{
                'background-image':
                  'url(https://via.placeholder.com/500x500?text=Visit)'
              }"
            ></div>
          </div>
          <div class="user-text">
            <div class="user-info">
              <div class="name">
                Эм, виртуальный асситент
              </div>
              <div class="date">
                28 Апр, 14:05
              </div>
            </div>
            <div class="message">
              <a href="/" class="add">
                Здравствуйте! На майских праздниках вам конец!</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 chat-user">
        <div class="user">
          <div class="user-img">
            <div
              class="img"
              [ngStyle]="{
                'background-image':
                  'url(https://via.placeholder.com/500x500?text=Visit)'
              }"
            ></div>
          </div>
          <div class="user-text">
            <div class="user-info">
              <div class="name">
                <a routerLink="/"> Михаил</a>
              </div>
              <div class="date">
                09 Окт, 14 : 05
              </div>
            </div>
            <div class="message">
              <a routerLink="" class="add"
                >Во тьме ночной, при свете дня, написать этот текст</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 chat-user">
        <div class="user">
          <div class="user-img">
            <div
              class="img"
              [ngStyle]="{
                'background-image':
                  'url(https://via.placeholder.com/500x500?text=Visit)'
              }"
            ></div>
          </div>
          <div class="user-text">
            <div class="user-info">
              <div class="name">
                <a routerLink="/">Алиса</a>
              </div>
              <div class="date">
                28 Янв, 14 : 05
              </div>
            </div>
            <div class="message">
              <a routerLink="/" class="add">Какое то текстовое сообщение.</a>
            </div>
            <div class="user-position">
              <span class="position">Бухгалтер</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 chat-user">
        <div class="user">
          <div class="user-img">
            <div
              class="img"
              [ngStyle]="{
                'background-image':
                  'url(https://via.placeholder.com/500x500?text=Visit)'
              }"
            ></div>
          </div>
          <div class="user-text">
            <div class="user-info">
              <div class="name">
                <a routerLink="/"> Михаил</a>
              </div>
              <div class="date">
                09 Окт, 14 : 05
              </div>
            </div>
            <div class="message">
              <a routerLink="" class="add"
                >Во тьме ночной, при свете дня, написать этот текст</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 chat-user">
        <div class="user">
          <div class="user-img">
            <div
              class="img"
              [ngStyle]="{
                'background-image':
                  'url(https://via.placeholder.com/500x500?text=Visit)'
              }"
            ></div>
          </div>
          <div class="user-text">
            <div class="user-info">
              <div class="name">
                <a routerLink="/"> Михаил</a>
              </div>
              <div class="date">
                09 Окт, 14 : 05
              </div>
            </div>
            <div class="message">
              <a routerLink="" class="add"
                >Во тьме ночной, при свете дня, написать этот текст</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 chat-user">
        <div class="user">
          <div class="user-img">
            <div
              class="img"
              [ngStyle]="{
                'background-image':
                  'url(https://via.placeholder.com/500x500?text=Visit)'
              }"
            ></div>
          </div>
          <div class="user-text">
            <div class="user-info">
              <div class="name">
                <a routerLink="/"> Михаил</a>
              </div>
              <div class="date">
                09 Окт, 14 : 05
              </div>
            </div>
            <div class="message">
              <a routerLink="" class="add"
                >Во тьме ночной, при свете дня, написать этот текст</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 chat-user">
        <div class="user">
          <div class="user-img">
            <div
              class="img"
              [ngStyle]="{
                'background-image':
                  'url(https://via.placeholder.com/500x500?text=Visit)'
              }"
            ></div>
          </div>
          <div class="user-text">
            <div class="user-info">
              <div class="name">
                <a routerLink="/"> Михаил</a>
              </div>
              <div class="date">
                09 Окт, 14 : 05
              </div>
            </div>
            <div class="message">
              <a routerLink="" class="add"
                >Во тьме ночной, при свете дня, написать этот текст</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="btn-new-ask">
          <button class="btn-add-question">Задать новый вопрос</button>
        </div>
      </div>
    </div>
  </div>
</div>

<span class="open-chat" >
  <button class="btn-open">
  <i class="far fa-comment-dots"></i>
</button>
</span>
