<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="wrapper-chat" *ngIf="isShowChat()">
        <div class="col-12 header-chat">
          Чат с банком
          <a routerLink="#" (click)="closeChat()">
            <i class="fas fa-times-circle"></i>
          </a>
        </div>
        <div class="col-12" [ngSwitch]="isShowPersonal()">
          <div *ngSwitchCase="'person'">
            <div class="personal-messages">
              <div class="col-12 chat-user-main">
                <div class="user">
                  <div class="btn-back" (click)="toggleUsers()">
                    <span><i class="fas fa-chevron-left"></i></span>
                  </div>
                  <div class="user-img">
                    <div
                      class="img"
                      [ngStyle]="{
                        'background-image':
                          'url(https://via.placeholder.com/500x500?text=Visit)'
                      }"
                    ></div>
                  </div>
                  <div class="personal-user">
                    <div class="name">
                      Ксения
                    </div>
                  </div>
                </div>
                <div class="menu-personal">
                  <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>
              <div class="messages-block">
                <div class="personal-mess">
                  <div class="mess-user">
                    <span class="user-text">Вирус эволиционирует!</span>
                    <span class="mess-date">30.08.2020 09:20</span>
                  </div>
                </div>
                <div class="admin-mess">
                  <div class="mess-admin">
                    <div class="position-admin">
                      <span>Ксения, бизнес-ассистент</span>
                    </div>
                    <span class="admin-text"
                    >Так давайте снимим карантин, пусть все выйдут на
                      работу!</span
                    >
                    <span class="mess-date">30.08.2020 09:20</span>
                  </div>
                </div>
                <div class="personal-mess">
                  <div class="mess-user">
                    <span class="user-text"
                    >Мировой заговр, все об этом знают!</span
                    >
                    <span class="mess-date">30.08.2020 09:20</span>
                  </div>
                </div>
                <div class="admin-mess">
                  <div class="mess-admin">
                    <div class="position-admin">
                      <span>Ксения, бизнес-ассистент</span>
                    </div>
                    <span class="admin-text"
                    >Мы с Вами согласны и сейчас перевели миллион на
                      лечение.</span
                    >
                    <span class="mess-date">30.08.2020 09:20</span>
                  </div>
                </div>
                <div class="personal-mess">
                  <div class="mess-user">
                    <span class="user-text">Спасибо! очень ценю!</span>
                    <span class="mess-date">30.08.2020 09:20</span>
                  </div>
                </div>
              </div>
              <app-add-question></app-add-question>
            </div>
          </div>
          <div class="users" *ngSwitchCase="'users'">
            <app-chat-header></app-chat-header>
            <app-main-user></app-main-user>
            <app-users></app-users>
          </div>
          <app-add-question></app-add-question>
          <div *ngSwitchCase="'files'">
            <app-files></app-files>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="open-chat">
          <button class="btn-open" (click)="toggleShowChat()">
            <span *ngIf="!isShowChat()"><i class="far fa-comment-dots"></i></span>
            <span *ngIf="isShowChat()"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


