<div class="container">
  <div
    class="row subscribe d-flex justify-content-between align-items-center pt-5 pb-5 text-white"
  >
    <div class="col-12 col-lg-6 p-3 pl-5">
      <div class="sub-title">
        <h1>Ready to take a test drive</h1>
      </div>
      <div class="subs-sub-title text-muted">
        We'll help you elevate your video content strategy. Prices strating from
        $49 a month.
        <span class="btn-read">
       <a routerLink="/second-page/" routerLinkActive="active">See pricing</a>
      </span>
      </div>
    </div>
    <div class="col-12 col-lg-6 p-3 pr-sm-5 text-right">
      <div class="col-12">
        <form class="form">
          <div class="input-group">
          <span class="material-icons text-muted icon-subs">
            alternate_email
          </span>
            <input
              type="text"
              class="form-control rounded"
              placeholder="Enter work email"
            />
            <div class="input-group-append">
              <button class="btn btn-primary btn-custom-head" type="submit">
                Try it Free
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12">
        <div class="logos text-center text-muted pt-4">
          <a routerLink="/second-page/" routerLinkActive="active" ><span class="material-icons" >call</span></a>
          <a routerLink="/second-page/" routerLinkActive="active" ><span class="material-icons" >email</span></a>
          <a routerLink="/second-page/" routerLinkActive="active" ><span class="material-icons" >send</span></a>
          <a routerLink="/second-page/" routerLinkActive="active" ><span class="material-icons" >location_on</span></a>
        </div>
      </div>
    </div>
  </div>

</div>
