/* You can add global styles to this file, and also import other style files */

@import "@style/buttons/buttons.css";


.text-danger {
  color: #dc3545;
}

.text-warning {
  color: #ffc107;
}

.btn-primary {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

a {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  text-decoration: inherit;
  color: inherit;
}

@media (max-width: 375px) {
  .wrapper {
    width: 100%;
  }
  .wrapper-chat {
    width: auto;
    padding-right: 10px;
  }
  .user {
    padding: 0px;
  }
}
@media (max-width: 320px) {
  .user-text {
    width: 85%;
  }
  .user-info {
    justify-content: flex-start;
  }
  .user-info .name {
    max-width: 150px;
  }
}
