<div class="container">
  <div class="row pt-5 pb-5">
    <div class="col-12 col-lg-7">
      <div class="main-news" *ngFor="let main of getBlog()">
          <app-main
            [img]="main.img"
            [category]="main.category"
            [title]="main.title"
            [subTitle]="main.subTitle"
            [main]="main.main"
          ></app-main>
      </div>
    </div>
    <div class="col-12 col-lg-5">
        <app-lenta *ngFor="let news of getBlog()"
          [img]="news.img"
          [category]="news.category"
          [title]="news.title"
          [lenta]="news.lenta"
        ></app-lenta>
    </div>
  </div>

</div>
